{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--==title========================-->
    <title>Medi Care</title>
    <!--==Fav-icon=====================-->
    <link rel="shortcut icon" href="{% static 'images/fav-icon.png' }%">
    <!--==CSS==========================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--==Font-Awesome-for-icons=====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
</head>
<body>
    <section id="hero">
        <!--==navigation====================-->
        <nav class="navigation">
            <!--**menu-btn*****-->
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <span class="nav-icon"></span>
            </label>
            <!--**logo*********-->
            <a href="{% url 'home:index' %}" class="logo"><span>Medi</span>Care</a>
            <a href="{% url 'home:login' %}" class="nav-appointment-btn">Iniciar Sesión</a>
        </nav><!--nav-end-->

        <!--==Content============================-->
        <div class="hero-content">
            <!--**text****************-->
            <div class="hero-text">
                <h1>Sientete mejor recibiendo atención médica</h1>
                <p>Este programa junto con los doctores, ofrecen atención médica de calidad</p>
            </div>
            <!--**img*****************-->
            <div class="hero-img">
                <img src="{% static 'images/main-bg' %}.png" alt="">
            </div>
        </div>
    </section><!--hero-end-->
    <!--==service-info===========================-->
    <section class="what-we-provide">

        <!--**box1***********-->
        <div class="w-info-box w-i-box1">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-solid fa-capsules"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>Servicio eficaz</strong>
                <p>La mejor rapidez y fluidez para el doctor.</p>
            </div>
        </div>
        <!--**box2***********-->
        <div class="w-info-box w-i-box2">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-regular fa-comments"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>Atención médica 24/7</strong>
                <p>Podrás acudir con tu doctor en el turno que desees.</p>
            </div>
        </div>
        <!--**box3***********-->
        <div class="w-info-box w-i-box3">
            <!--icon-->
            <div class="w-info-icon">
                <i class="fa-solid fa-square-poll-horizontal"></i>
            </div>
            <!--text-->
            <div class="w-info-text">
                <strong>Receta y consulta médica en minutos</strong>
                <p>Con este programa podrás recibir tu receta médica en minutos.</p>
            </div>
        </div>
    
    </section><!--end-->

    <!--==Story=============================-->
    <section id="our_story">

        <!--**img**-->
        <div class="our-story-img">
            <img src="{% static 'images/story_img.jpg' %}"/>
        </div>
        <!--**text**-->
        <div class="our-stroy-text">
            <h2>Hecho para personal médico</h2>
            <p>Nuestra plataforma ha sido cuidadosamente desarrollada pensando en las necesidades específicas del personal médico. Desde herramientas intuitivas hasta interfaces centradas en la eficiencia, cada detalle ha sido diseñado para mejorar la experiencia del usuario y optimizar el desempeño del personal médico.</p>
            <p>Descubre la comodidad y la eficacia que brinda una solución verdaderamente hecha a medida para quienes dedican sus vidas al cuidado de los demás.</p>
            <!--numbers-of-happy-patients-->
            <div class="story-numbers-container">
                <!--box-->
                <div class="story-numbers-box s-n-box1">
                    <strong>280+</strong>
                    <span>Doctores registrados</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box2">
                    <strong>1000+</strong>
                    <span>Pacientes atendidos</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box3">
                    <strong>315+</strong>
                    <span>Empresas trabajando</span>
                </div>
                <!--box-->
                <div class="story-numbers-box s-n-box4">
                    <strong>16+</strong>
                    <span>Herramientas de gestion médica</span>
                </div>
            </div>
        </div>
    </section><!--story-end-->

    <!--==Our-Services======================-->
    <section id="our-services">

        <!--**heading********************-->
        <div class="services-heading">
            <!--text-->
            <div class="services-heading-text">
                <strong>Ofrecemos</strong>
                <h2>Calidad para todos</h2>
            </div>
            <!--btns-->
            <div class="service-slide-btns">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <!--**container*******************-->
        <div class="services-box-container">

             <!-- Swiper -->
            <div class="swiper mySwiperservices">
                <div class="swiper-wrapper">
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box1">
                        <!--icon-->
                        <i class="fa-solid fa-tooth"></i>
                        <!--title-->
                        <strong>Dentistas</strong>
                        <!--details-->
                        <p>Algunos consultorios dentales han decidido trabajar con nosotros, confiando en nuestra visión.</p>
                        <!--read more-->
                    </div>
                    </div><!--slide-end-->
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box3">
                        <!--icon-->
                        <i class="fa-solid fa-face-smile"></i>
                        <!--title-->
                        <strong>Dermatólogos</strong>
                        <!--details-->
                        <p>Algunos dermatólogos han agradecido trabajar con nosotros gracias a la verstalidad de este programa.</p>
                        <!--read more-->
                    </div>
                    </div><!--slide-end-->
                    <!--**1*******-->
                    <div class="swiper-slide">
                    <!--**box1**-->
                    <div class="service-box s-box4">
                        <i class="fa-solid fa-user-doctor"></i>
                        <strong>Consultorios</strong>
                        <p>Gracias a este programa, la mayoria de consultorios médicos han expresado su conformidad con este sistema.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <!--==Why-choose-us=======================-->
    <section id="why-choose-us">

        <!--**left*****************-->
        <div class="why-choose-us-left">
            <h3>¿Por qué nosotros?</h3>
            <!--==container====-->
            <div class="why-choose-box-container">
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Tecnología Avanzada</strong>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Medicina Digital</strong>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Rápida y Precisa</strong>
                    </div>
                </div>
                <!--**box**-->
                <div class="why-choose-box">
                    <!--icon-->
                    <i class="fa-solid fa-check"></i>
                    <!--text-->
                    <div class="why-choose-box-text">
                        <strong>Aprobada por profesionales</strong>
                    </div>
                </div>
            </div>
        </div><!--left-end-->

        <!--**right*******************-->
        <div class="why-choose-us-right">
            <h3>Contáctanos<br/>
            </h3>
            <p>Si deseas diseñar un sitio web como este, te dejaremos nuestra información de contacto aqui abajo.</p>
            <!--==container====-->
            <div class="w-right-contact-container">
                <!--**box**-->
                <div class="w-right-contact-box">
                    <i class="fa-solid fa-phone"></i>
                    <!--text-->
                    <div class="w-right-contact-box-text">
                        <span>Llámanos</span>
                        <strong>+664 814 0275</strong>
                    </div>
                </div>
                <!--**box**-->
                <div class="w-right-contact-box">
                    <i class="fa-solid fa-envelope"></i>
                    <!--text-->
                    <div class="w-right-contact-box-text">
                        <span>Correo electrónico</span>
                        <strong>utt@ut-tijuana.edu.mx</strong>
                    </div>
                </div>
            </div>
        </div><!--right-end-->
    </section><!--end-->

    <footer>
        <div class="footer-container">
            <div class="footer-center-container"> <!-- Nuevo contenedor para centrar específicamente esta parte -->
                <div class="footer-company-box">
                    <a href="#" class="logo"><span>Medi</span>Care</a>
                    <p>Hecho para doctores.</p>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/UTTIJ/?locale=es_LA"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/uttij/?hl=es-la"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com/@UTTIJ1/videos"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!--**bottom**********************-->
        <div class="footer-bottom">
            <span class="footer-owner">Made By MediCare</span>
            <span class="copyright">© Copyright 2023 -  MediCare</span>
        </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    /*-services--*/
    var swiper = new Swiper(".mySwiperservices", {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          700: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        },
      });
    /*--team--*/
    var swiper = new Swiper(".mySwiperteam", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          560: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          950: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1250: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
        },
      });
    /*--testimonials--*/
      var swiper = new Swiper(".mySwipertesti", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>
</body>
</html>