{ extends {}}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menuadmin.css' %}">
    <title>Menu de Administrador</title>
</head>

<body>
  <center><h1 style="color: gold;">================== MENU ADMINISTRADOR ==================</h1></center>
  <br>
  <br>
  <br>
    <section>
    <main class="container">
        <a href="{% url 'core:list_empleado' %}" class="card card-blue">
        <div class="product-image">
            <img src="{% static 'images/ingeniero.png' %}" alt="1">
        </div>
        <div class="product-info">
            <h2>Empleados</h2>
        </div>
        </a>

        <a href="{% url 'core:list_puesto' %}" class="card card-blue">
        <div class="product-image">
            <img src="{% static 'images/puestos.png' %}" alt="2">
        </div>
        <div class="product-info">
            <h2>Puestos</h2>
        </div>
        </a>
    
        <a href="{% url 'core:list_departamento' %}" class="card card-blue">
        <div class="product-image">
            <img src="{% static 'images/empresa.png' %}" alt="3">
        </div>
        <div class="product-info">
            <h2>Departamentos</h2>
        </div>
        </a>
    </main>
  </section>
  <br>
  <br>
  <section>
    <main class="container">
        <a href="{% url 'core:list_medicamento' %}" class="card card-blue">
          <div class="product-image">
            <img src="{% static 'images/medicamentos.png' %}" alt="4">
          </div>
          <div class="product-info">
            <h2>Medicamentos</h2>
          </div>
        </a>
    
        <a href="{% url 'core:list_suministro' %}" class="card card-blue">
          <div class="product-image">
            <img src="{% static 'images/suministros.png' %}" alt="5">
          </div>
          <div class="product-info">
            <h2>Suministros</h2>
          </div>
        </a>
    
        <a href="{% url 'core:list_medico' %}" class="card card-blue">
          <div class="product-image">
            <img src="{% static 'images/doctor.png' %}" alt="5">
          </div>
          <div class="product-info">
            <h2>Medicos</h2>
          </div>
        </a>
      </main>
  </section>
  <br>
  <br>
</body>
</html>