{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--==title========================-->
    <title>Medi Care</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<section id="hero">
  <nav class="navigation">
    <!--**menu-btn*****-->
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
    </label>
    <!--**logo*********-->
    <a class="logo"><span>Medi</span>Care</a>
    <!--**menu*********-->
    <ul class="menu">
        <li><a href="{% url 'home:menu' %}">Menú</a></li>
        <li><a href="{% url 'core:list_medi_contra' %}">Contraindicaciones</a></li>
        <li><a href="{% url 'core:list_medi_efec_secu' %}">Efectos secundarios</a></li>
        <li><a href="{% url 'core:list_empleado' %}">Empleados</a></li>
        <li><a href="{% url 'core:list_forma_administracion' %}">Forma de administración</a></li>
    </ul>
    <a href="{% url 'home:index' %}" class="nav-appointment-btn">Cerrar sesión</a>
  </nav>
</section>
  <main class="container">

    <a href="{% url 'home:menu' %}" class="card card-blue">
      <div class="product-image">
        <img src="{% static 'images/puerta.png' %}">
      </div>
      <div class="product-info">
        <h2>Volver</h2>
      </div>
    </a>

    <a href="{% url 'core:create_consulta' %}" class="card card-blue">
      <div class="product-image">
        <img src="{% static 'images/menuconsultas.png' %}">
      </div>
      <div class="product-info">
        <h2>Crear consulta</h2>
      </div>
    </a>

    <a href="{% url 'core:list_receta' %}" class="card card-blue">
      <div class="product-image">
        <img src="{% static 'images/consulta-medicamento.png' %}">
      </div>
      <div class="product-info">
        <h2>Consulta-Medicamento</h2>
      </div>
    </a>

    <a href="{% url 'core:list_suministro_consulta' %}" class="card card-blue">
        <div class="product-image">
          <img src="{% static 'images/suministros.png' %}" alt="1">
        </div>
        <div class="product-info">
          <h2>Consulta-Suministro</h2>
        </div>
      </a>

  </main>
</body>
{% endblock content %}