{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/fav-icon.png' }%">
    <!--==CSS==========================-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section id="hero">
        <nav class="navigation">
          <!--**menu-btn*****-->
          <input type="checkbox" class="menu-btn" id="menu-btn">
          <label for="menu-btn" class="menu-icon">
              <span class="nav-icon"></span>
          </label>
          <!--**logo*********-->
          <a class="logo"><span>Medi</span>Care</a>
          <!--**menu*********-->
          <ul class="menu">
              <li><a href="{% url 'home:menu' %}">Menú</a></li>
              <li><a href="{% url 'core:list_medi_contra' %}">Contraindicaciones</a></li>
              <li><a href="{% url 'core:list_medi_efec_secu' %}">Efectos secundarios</a></li>
              <li><a href="{% url 'core:list_empleado' %}">Empleados</a></li>
              <li><a href="{% url 'core:list_medi_forma_admi' %}">Forma de administración</a></li>
          </ul>
          <a href="{% url 'home:index' %}" class="nav-appointment-btn">Cerrar sesión</a>
        </nav><!--nav-end-->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-2"></div>
        </div>
    </section>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
