
.messages {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
  }
  
  .messages li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .messages.error {
    background-color: #780912;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }
  