/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --blue-card: #4bb7e6;
  --text: #fbf7f7;
}

/*===== RESET =====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color-lighten);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 200px;
  height: 90%;
  user-select: none;
}

/*===== CARD =====*/
.container {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.card {
  position: relative;
  padding: 2.5rem;
  width: 330px;
  height: 320px;
  box-shadow: -1px 10px 30px -10px rgb(32, 32, 32);
  border-radius: 0.9rem;
  color: var(--text);
  cursor: pointer;
  margin-bottom: 10px;
}

.card-blue {
  background: var(--blue-card);
}

.product-image {
  height: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -1rem);
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}
  
.product-info {
  text-align: center;
}

.product-info h2 {
  font-size: 1.4rem;
  font-weight: 600;
}


@media screen and (max-width: 800px) {
  body {
    height: auto;
  }
  .container {
    padding: 2rem 0;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }

  .card {
    width: 100%; /* Hacer que las tarjetas ocupen el ancho completo en pantallas más pequeñas */
  }
}
