/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --blue-card: #014dd5;
  --text: #fbf7f7;
}

/*===== RESET =====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  position: static;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-color-lighten);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
.po {
  display: flex;
  flex-direction: column; /* Añade esta línea para apilar los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

img {
  max-width: 100%; /* Cambié esto para que las imágenes sean responsivas */
  height: auto;
  user-select: none;
}

/*===== CARD =====*/

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  position: relative;
  padding: 2.5rem;
  width: 300px; /* Ajustado el ancho de las tarjetas */
  height: 320px;
  box-shadow: -1px 8px 25px -8px rgb(16, 16, 16);
  border-radius: 0.9rem;
  color: var(--text);
  cursor: pointer;
  margin-bottom: 20px; /* Aumentado el margen inferior */
}

.card-blue {
  background: var(--blue-card);
}

.product-image {
  height: 210px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, -1rem);
}

.product-info {
  text-align: center;
}

.product-info h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  body {
    height: auto;
  }
  .container {
    padding: 2rem 0;
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
