{% extends "base/tablas.html" %}

{% block title %}
  Crear Forma de Administración
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Crear</button>
    <a href="{% url 'core:list_forma_administracion' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
