{% extends "base/tablas.html" %}

{% block title %}
  Crear consulta
{% endblock title %}

{% load static %}

{% block extra_css %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/mensajemedicamento.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages error">
      {% for message in messages %}
        <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Crear</button>
    <a href="{% url 'home:menuconsultas' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
