{% extends "base/tablas.html" %}

{% block title %}
  Crear Puesto
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
           {% csrf_token %}
           {{ form.as_p }}
             <button type="submit" class="btn btn-primary">Crear</button>
            <a href="{% url 'core:list_puesto' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
