{% extends "base/tablas.html" %}

{% block title %}
  Eliminar medicamento
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar el medicamento '{{ medicamento.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medicamento' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}