{% extends "base/tablas.html" %}

{% block title %}
  Eliminar medico
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar al medico? '{{ medico.nombrePila }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medico' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}