{% extends "base/tablas.html" %}

{% block title %}
  Eliminar MediContra
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el medicamento '{{ medi_contra.medicamento.nombre }}' y la contraindicación '{{ medi_contra.contraindicaciones.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medi_contra' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
