{% extends "base/tablas.html" %}

{% block title %}
  Eliminar MediFormaAdmi
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el medicamento '{{ medi_forma_admi.medicamento.nombre }}' y la forma de administración '{{ medi_forma_admi.formaAdministracion.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_medi_forma_admi' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
