{% extends "base/tablas.html" %}

{% block title %}
  Eliminar Receta
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el medicamento '{{ receta.medicamento.nombre }}' y la consulta '{{ receta.consulta.id }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_receta' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
