{% extends "base/tablas.html" %}

{% block title %}
  Eliminar Contraindicación
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la Contraindicación '{{ contraindicacion.nombre }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_contraindicacion' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
