{% extends "base/tablas.html" %}

{% block title %}
  Eliminar SuministroConsulta
{% endblock title %}

{% block content %}
  <p>¿Estás seguro de que deseas eliminar la relación entre el suministro '{{ suministro_consulta.suministro.nombre }}' y la consulta '{{ suministro_consulta.consulta }}'?</p>
  <form action="" method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:list_suministro_consulta' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock content %}
