{% extends "base/tablas.html" %}

{% block title %}
  Detalles de MediFormaAdmi
{% endblock title %}

{% block content %}
  <h2>{{ medi_forma_admi.id }}</h2>
  <p>El medicamento '{{ medi_forma_admi.medicamento.nombre }}' se administra de forma '{{ medi_forma_admi.formaAdministracion.nombre }}'.</p>
  <a href="{% url 'core:list_medi_forma_admi' %}" class="btn btn-secondary">Volver a la lista de MediFormaAdmi</a>
{% endblock content %}
