{% extends "base/tablas.html" %}

{% block title %}
  Detalles del medicamento
{% endblock title %}

{% block content %}
  <h2>{{ medicamento.nombre }}</h2>
  <p>Esta es el medicamento '{{ medicamento.nombre }}' su descripcion es: '{{ medicamento.descripcion}}'.</p>
  <a href="{% url 'core:list_medicamento' %}" class="btn btn-secondary">Volver a la lista de medicamentos</a>
{% endblock content %}