{% extends "base/receta.html" %}

{% block title %}
  Detalles de Receta
{% endblock title %}

{% block content %}

<div style="width: 450px; margin: 0 auto;">
  <a href="{% url 'core:list_receta' %}" class="btn btn-secondary">Volver a la lista de Receta</a>
        <table>
            <tr>
                <td colspan="2"><br /><h3>Datos del Paciente</h3><br /></td>
            </tr>
            <tr>
                <td><strong>Apellido y Nombre:&nbsp;</strong></td>
                <td>{{ receta.consulta.empleado.nombrePila }} {{ receta.consulta.empleado.apPat }} {{ receta.consulta.empleado.apMat }} </td>
            </tr>
            <tr>
                <td><strong>Fecha de Nacimiento:&nbsp;&nbsp;</strong></td>
                <td>{{ receta.consulta.empleado.fnacimiento|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td colspan="2"><br /><h3>Datos del Médico</h3><br /></td>
            </tr>            
            <tr>
                <td><strong>Apellido y Nombre:&nbsp;</strong></td>
                <td>{{ receta.consulta.medico.nombrePila }} {{ receta.consulta.medico.apPat }} {{ receta.consulta.medico.apMat }}</td>
            </tr>
            <tr>
                <td><strong>Cédula:&nbsp;</strong></td>
                <td>{{ receta.consulta.medico.cedula }}</td>
            </tr>
            <tr>
                <td colspan="2"><br /><h3>Datos de la Prescripción</h3><br /></td>
            </tr>             
            <tr>
                <td><strong>Fecha:</strong></td>
                <td>{{ receta.consulta.fecha }}</td>
            </tr>
            <tr>
                <td><strong>Medicamento:</strong></td>
                <td>{{ receta.medicamento }}</td>
            </tr>
            <tr>
                <td><strong>Dosis:</strong></td>
                <td>{{ receta.dosis }}</td>
            </tr>
            <tr>
              <td><strong>Administracion via:</strong></td>
              <td>
                  {% for forma_administracion in receta.medicamento.formas_administracion.all %}
                      {{ forma_administracion.nombre }}
                      {% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </td>
          </tr>          
            <tr>
                <td><strong>Duración:</strong></td>
                <td>{{ receta.duracion }} </td>
            </tr>                                        
        </table>
        <br />
</div>
{% endblock content %}