{% extends "base/tablas.html" %}

{% block title %}
  Detalles del Empleado - {{ empleado.nombrePila }}
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ empleado.nombrePila }} {{ empleado.apPat }} {{ empleado.apMat }}</h2>
            <p class="card-text">
              <strong>Fecha de Nacimiento:</strong> {{ empleado.fnacimiento|date:"d/m/Y" }}<br>
              <strong>No. de Empleado:</strong> {{ empleado.noempleado }}<br>
              <strong>Puesto:</strong> {{ empleado.puesto.nombre }}<br>
              <strong>Departamento:</strong> {{ empleado.departamento.nombre }}
            </p>
            <a href="{% url 'core:list_empleado' %}" class="btn btn-secondary">Volver a la lista de Empleados</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
