{% extends "base/tablas.html" %}

{% block title %}
  Detalles de MediEfecSecu
{% endblock title %}

{% block content %}
  <h2>{{ medi_efec_secu.id }} {{ medi_efec_secu.medicamento.nombre }}</h2>
  <p>El medicamento '{{ medi_efec_secu.medicamento.nombre }}' tiene el efecto secundario: '{{ medi_efec_secu.efectosSecundarios.nombre }}'.</p>
  <a href="{% url 'core:list_medi_efec_secu' %}" class="btn btn-secondary">Volver a la lista de MediEfecSecu</a>
{% endblock content %}
