{% extends "base/tablas.html" %}

{% block title %}
  Detalles de MediContra
{% endblock title %}

{% block content %}
  <h2>{{ medi_contra.id }}</h2>
  <p>El medicamento '{{ medi_contra.medicamento.nombre }}' tiene como Contraindicacion '{{ medi_contra.contraindicaciones.descripcion }}'.</p>
  <a href="{% url 'core:list_medi_contra' %}" class="btn btn-secondary">Volver a la lista de MediContra</a>
{% endblock content %}
