{% extends "base/tablas.html" %}
{% block title %}
  Detalles del suministro
{% endblock title %}

{% block content %}
  <h2>{{ suministro.nombre }}</h2>
  <p>Esta es el suministro '{{ suministro.nombre }}' su descripcion es: '{{ suministro.descripcion}}'.</p>
  <a href="{% url 'core:list_suministro' %}" class="btn btn-secondary">Volver a la lista de suministros</a>
{% endblock content %}