{% extends "base/tablas.html" %}

{% block title %}
  Detalles de la Contraindicación
{% endblock title %}

{% block content %}
  <h2>{{ contraindicacion.nombre }}</h2>
  <p>Esta es la Contraindicación '{{ contraindicacion.nombre }}' y su descripción es: '{{ contraindicacion.descripcion }}'.</p>
  <a href="{% url 'core:list_contraindicacion' %}" class="btn btn-secondary">Volver a la lista de Contraindicaciones</a>
{% endblock content %}
