{% extends "base/tablas.html" %}

{% block title %}
  Detalles de SuministroConsulta
{% endblock title %}

{% block content %}
  <h2>{{ suministro_consulta.id }}</h2>
  <p>Esta es la relación entre el suministro '{{ suministro_consulta.suministro.nombre }}' y la consulta '{{ suministro_consulta.consulta }}' con una cantidad de '{{ suministro_consulta.cantidad }}'.</p>
  <a href="{% url 'core:list_suministro_consulta' %}" class="btn btn-secondary">Volver a la lista de SuministroConsulta</a>
{% endblock content %}
