{% extends "base/tablas.html" %}

{% block title %}
  Detalles de la Consulta - ID: {{ consulta.id }}
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Consulta ID: {{ consulta.id }}</h2>
            <p class="card-text">
              <strong>Fecha de Consulta:</strong> {{ consulta.fecha|date:"d/m/Y" }}<br>
              <strong>Realizada por el Empleado:</strong> {{ consulta.empleado.nombrePila }} {{ consulta.empleado.apPat }} {{ consulta.empleado.apMat }}<br>
              <strong>Motivo de la Consulta:</strong> {{ consulta.motivo }}<br>
              <strong>Síntomas:</strong> {{ consulta.sintomas }}<br>
              <strong>Peso:</strong> {{ consulta.peso }} kg<br>
              <strong>Altura:</strong> {{ consulta.altura }} m<br>
              <strong>Diagnóstico:</strong> {{ consulta.diagnostico }}<br>
              <strong>Médico a Cargo:</strong> {{ consulta.medico.nombrePila }} {{ consulta.medico.apPat }} {{ consulta.medico.apMat }}
            </p>
            <a href="{% url 'core:list_consulta' %}" class="btn btn-secondary">Volver a la lista de Consultas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
