{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Efectos Secundarios
{% endblock title %}

{% block content %}
  <a href="{% url 'core:create_efectos_secundarios' %}" class="btn btn-success">Añadir efecto secundario</a>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for efectos_secundarios in EfectosSecundarios %}
        <tr>
          <td>{{ efectos_secundarios.id }}</td>
          <td>{{ efectos_secundarios.nombre }}</td>
          <td>{{ efectos_secundarios.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_efectos_secundarios' efectos_secundarios.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_efectos_secundarios' efectos_secundarios.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_efectos_secundarios' efectos_secundarios.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
