{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de MediContras
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Contraindicación</th>
      <th style="width: 700px;">Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medi_contra' %}" class="btn btn-success">Añadir contraindicación a un medicamento</a>
      {% for medi_contra in MediContras %}
        <tr>
          <td>{{ medi_contra.id }}</td>
          <td>{{ medi_contra.medicamento.nombre }}</td>
          <td>{{ medi_contra.contraindicaciones.nombre }}</td>
          <td>{{ medi_contra.contraindicaciones.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_medi_contra' medi_contra.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_medi_contra' medi_contra.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_medi_contra' medi_contra.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
