{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Contraindicaciones
{% endblock title %}

{% block content %}
  <a href="{% url 'core:create_contraindicacion' %}" class="btn btn-success">Añadir contraindicacion</a>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th style="width: 700px;">Descripción</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for contraindicacion in Contraindicaciones %}
        <tr>
          <td>{{ contraindicacion.id }}</td>
          <td>{{ contraindicacion.nombre }}</td>
          <td>{{ contraindicacion.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_contraindicacion' contraindicacion.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_contraindicacion' contraindicacion.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_contraindicacion' contraindicacion.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
