{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de MediEfecSecus
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Efectos Secundarios</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medi_efec_secu' %}" class="btn btn-success">Añadir efectos secundarios a un medicamento</a>
      {% for medi_efec_secu in MediEfecSecus %}
        <tr>
          <td>{{ medi_efec_secu.id }}</td>
          <td>{{ medi_efec_secu.medicamento.nombre }}</td>
          <td>{{ medi_efec_secu.efectosSecundarios.nombre }}</td>
          <td>{{ medi_efec_secu.efectosSecundarios.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_medi_efec_secu' medi_efec_secu.id %}"></a>
              <img src="{%  static 'images/buscar.png' %}">
            <a href="{% url 'core:update_medi_efec_secu' medi_efec_secu.id %}"></a>
              <img src="{%  static 'images/editar.png' %}">
            <a href="{% url 'core:delete_medi_efec_secu' medi_efec_secu.id %}"></a>
            <img src="{%  static 'images/eliminar.png' %}">
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
