{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Médicos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Cédula</th>
      <th>Número de Teléfono</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_medico' %}" class="btn btn-success">Crear Médico</a>
      {% for medico in Medicos %}
        <tr>
          <td>{{ medico.id }}</td>
          <td>{{ medico.nombrePila }}</td>
          <td>{{ medico.apPat }}</td>
          <td>{{ medico.apMat }}</td>
          <td>{{ medico.cedula }}</td>
          <td>{{ medico.numTel }}</td>
          <td>
            <a href="{% url 'core:detail_medico' medico.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_medico' medico.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_medico' medico.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
