{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Receta2
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Medicamento</th>
      <th>Consulta</th>
      <th>Dosis</th>
      <th>Duracion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for receta in Recetas %}
        <tr>
          <td>{{ receta.id }}</td>
          <td>{{ receta.medicamento.nombre }}</td>
          <td>{{ receta.consulta.id }}</td>
          <td>{{ receta.dosis }}</td>
          <td>{{ receta.duracion }}</td>
          <td>
            <a href="{% url 'core:detail_receta' receta.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_receta' receta.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_receta' receta.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
