{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de SuministroConsultas
{% endblock title %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <form method="get" action="{% url 'core:list_suministro_consulta' %}" class="mb-3">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Nombre del Suministro">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>
    </div>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Suministro</th>
      <th>Consulta</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {% for suministro_consulta in SuministroConsultas %}
        <tr>
          <td>{{ suministro_consulta.id }}</td>
          <td>{{ suministro_consulta.suministro.nombre }}</td>
          <td>{{ suministro_consulta.consulta }}</td>
          <td>{{ suministro_consulta.cantidad }}</td>
          <td>
            <a href="{% url 'core:detail_suministro_consulta' suministro_consulta.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_suministro_consulta' suministro_consulta.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_suministro_consulta' suministro_consulta.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
