{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Puestos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_puesto' %}" class="btn btn-success">Crear Puesto</a>
      {% for puesto in Puestos %}
        <tr>
          <td>{{ puesto.id }}</td>
          <td>{{ puesto.nombre }}</td>
          <td>{{ puesto.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_puesto' puesto.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_puesto' puesto.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_puesto' puesto.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
