{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Empleados
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Numero de empleado</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de nacimiento</th>
      <th>Puesto</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_empleado' %}" class="btn btn-success">Crear Empleado</a>
      {% for empleado in Empleados %}
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.noempleado }}</td>
          <td>{{ empleado.nombrePila }}</td>
          <td>{{ empleado.apPat }}</td>
          <td>{{ empleado.apMat }}</td>
          <td>{{ empleado.fnacimiento }}</td>
          <td>{{ empleado.puesto.nombre }}</td>
          <td>
            <a href="{% url 'core:detail_empleado' empleado.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_empleado' empleado.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_empleado' empleado.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
