{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de departamentos
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_departamento' %}" class="btn btn-success">Crear departamento</a>
      {% for departamento in Departamentos %}
        <tr>
          <td>{{ departamento.id }}</td>
          <td>{{ departamento.nombre }}</td>
          <td>{{ departamento.descripcion }}</td>
          <td>
            <a href="{% url 'core:detail_departamento' departamento.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_departamento' departamento.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_departamento' departamento.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
