{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de Consultas
{% endblock title %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <form method="get" action="{% url 'core:list_consulta' %}" class="mb-3">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Número de Empleado">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Motivo</th>
        <th style="width: 260px;">Síntomas</th>  <!-- Ajustar el ancho de la columna de Síntomas -->
        <th>Empleado</th>
        <th>Médico</th>
        <th style="width: 130px;">Acciones</th>  <!-- Ajustar el ancho de la columna de Acciones -->
      </tr>
    </thead>
    <tbody>
      {% for consulta in Consultas %}
        <tr>
          <td>{{ consulta.id }}</td>
          <td>{{ consulta.fecha }}</td>
          <td>{{ consulta.motivo }}</td>
          <td>{{ consulta.sintomas }}</td>
          <td>{{ consulta.empleado.nombrePila }} {{ consulta.empleado.apPat }} {{ consulta.empleado.apMat}}</td>
          <td>{{ consulta.medico.nombrePila }} {{ consulta.medico.apPat }} {{ consulta.medico.apMat }}</td>
          <td>
            <a href="{% url 'core:detail_consulta' consulta.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_consulta' consulta.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_consulta' consulta.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
