{% extends "base/tablas.html" %}
{% load static %}
{% block title %}
  Lista de suministros
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Stock</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'core:create_suministro' %}" class="btn btn-success">Crear suministro</a>
      {% for suministro in Suministros %}
        <tr>
          <td>{{ suministro.id }}</td>
          <td>{{ suministro.nombre }}</td>
          <td>{{ suministro.descripcion }}</td>
          <td>{{ suministro.stock }}</td>
          <td>
            <a href="{% url 'core:detail_suministro' suministro.id %}">
              <img src="{%  static 'images/buscar.png' %}">
            </a>
            <a href="{% url 'core:update_suministro' suministro.id %}">
              <img src="{%  static 'images/editar.png' %}">
            </a>
            <a href="{% url 'core:delete_suministro' suministro.id %}">
              <img src="{%  static 'images/eliminar.png' %}">
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}